a {
    text-decoration: none;
 }
 
div.hero-content {
    background-image: url(../img/heroResources.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Raleway';
  }
  .fontRale {
    font-family: 'Raleway';
  }
  .fontSans {
    font-family: 'Open Sans';
  }

nav.hero-nav {
    background-color: rgba(20, 52, 164, 0.1);
    border-radius: 25px;
    border: 0.1px solid #2d2a4d;
    margin: 0cm 1cm 0cm 1cm;
    position: relative;
    top: 0.5cm;
}

button.contactUs {
    border: 0px;
    border-radius: 30px;
    background-color: #1434A4;
    color: #ffffff;
    gap: 1px;
    width: 113px;
    height: 40px;
} 
.hero-body {
    padding-bottom: 4cm !important;
}
.pHero {
    font-size: 20px;
    font-weight: 400;
}
button.hero-buttonA {
    gap: 10px;
    border: 0px;
    border-radius: 30px;
    color: #ffffff;
    background-color: #1434A4;
    width: 152px;
    height: 46px;
}
button.hero-buttonB {
    border: 1px solid #1434A4;
    border-radius: 100px;
    width: 152px;
    height: 46px;
}

.sectionOne {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Raleway';
}
.serviceCards {
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-size: cover;
}
div.services {
    text-align: center;
    margin-bottom: 1.5cm;
}
h5.services {
    font-weight: 600;
    font-size: 36px;
    line-height: 39.6px;
}
p.services {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    
}
.serviceCard {
    text-align: center;
    border: 0.1px solid rgba(0, 0, 1, 0.6);
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 1, 0.6);
}
.serviceCardHeader {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}


/*FOOTER*/
footer.mainFooter {
    background: #1434A4;
} 
footer h5 {
    font-family: 'Cormorant Upright';
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-align: center;
}
.footerText, .footerLink {
    padding: 5%; 
}

footer p, .footer-ul {
    font-family: 'Proza Libre';
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5) !important;
    list-style: none;

}
.copyRight {
    font-family: 'Proza Libre';
    font-weight: 400;
    font-size: 20px;
    line-height: 25.2px;
}


/* Small devices (mobile phones, 576px upwards) */
@media (min-width: 576px) { 
    .readImage img, .bookImage img {
        width: 253px;
        height: 308px;
    }
    div.images {
        margin-bottom: 50px;
    }
 }

/* Medium devices (tablets, 768px upwards) */
@media (min-width: 768px) { 
    .hero-body {
        padding-top: 3.5cm !important;
        padding-bottom: 7cm !important;
        padding-left: 6% !important;
        width: 60%;
    }
    div.images {
        display: none !important;
    }
    .imageGrid {
        display: block ;
    }
    .readImage img, .bookImage img {
        width: 160px;
        height: 220px;
    }
    .sectionTwo h5 {
        font-size: 36px;
        line-height: 39.6px;
    }
}

/*Extra small and Small devices. LESS THAN MEDIUM ONLY */
@media (max-width: 767px) { 
     .imageGrid {
        display: none !important;
    }

 }
