/* div.hero-content {
    background-color: gray;
    position: relative;
} */
 p {
    color: rgba(0, 0, 0, 0.7);
 }
 a {
    text-decoration: none;
 }
div.hero-content {
    background-image: url(../img/Group_411.png);
    background-repeat: no-repeat;
  /*  background-size: cover; */
    position: relative;
    font-family: 'Raleway';
  }
  .fontRale {
    font-family: 'Raleway';
  }
  .fontSans {
    font-family: 'Open Sans';
  }

nav.hero-nav {
    background-color: rgba(20, 52, 164, 0.1);
    border-radius: 25px;
    border: 0.1px solid #2d2a4d;
    margin: 0cm 1cm 0cm 1cm;
    position: relative;
    top: 0.5cm;
}

button.contactUs {
    border: 0px;
    border-radius: 30px;
    background-color: #1434A4;
    color: #ffffff;
    gap: 1px;
    width: 113px;
    height: 40px;
} 
.pHero {
    font-size: 20px;
    font-weight: 400;
}
.pCard {
    font-size: 14px;
    font-weight: 300;
    text-align: center;

}
button.hero-buttonA {
    gap: 10px;
    border: 0px;
    border-radius: 30px;
    color: #ffffff;
    background-color: #1434A4;
    width: 152px;
    height: 46px;
}
button.hero-buttonB {
    border: 1px solid #1434A4;
    border-radius: 100px;
    width: 152px;
    height: 46px;

}
.hero-card {
    border: 0.1px solid rgba(0, 0, 1, 0.6); 
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 1, 0.6);
}

.display-container {
    position: relative;
}

.leftSide, .rightSide, .w3-badge {
    cursor:pointer;
}
.w3-badge {
    height:13px;
    width:13px;
    padding:0;
}
.leftSide {
    float: left !important;
}
.rightSide {
    float: right !important;
}

.arrow {
    font-size: 18px !important;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0%);
    padding: 0.01em 16px;
    width: 100%;
}
.imgSlide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 124px;
    height: 124px;

}
.cardHeader {
    font-size: 16px;
    color: #1434A4;
    text-align: center;
    font-weight: 700;
}
.section2, .section3 {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Raleway';
}
.serviceCards {
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-size: cover;
}
div.services {
    text-align: center;
    margin-bottom: 1.5cm;
}
h5.services {
    font-weight: 600;
    font-size: 36px;
    line-height: 39.6px;
}
p.services {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    
}
.serviceCard {
    text-align: center;
    border: 0.1px solid rgba(0, 0, 1, 0.6);
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 1, 0.6);
}
.serviceCardHeader {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
div.images, div.imgBigScreen {
    position: relative;
    height: 400px;
    justify-content: space-evenly;
}
.readImage {
    position: relative;
    top: 50px;
}
.bookImage {
    position: relative;
    top: 100px;
}
.readImage img, .bookImage img {
    width: 150px;
    height: 200px;
}
div.getAccess {
    text-align: start;
}
div.getAccess h5 {
    font-weight: 600;
    font-size: 26px;
    line-height: 30.6px;
}
div.getAccess h6 {
    font-weight: 40;
}
div.geAccess p {
    font-weight: 300;
}
/* div.availableCard {
    background-image: url(../img/Ellipse.png);
    background-repeat: no-repeat;
    background-size: 57px 57px; 
}*/

.ableCard {
    background-image: url(../img/elipse.png);
    background-size: contain;
    width: 65px;
    height: 65px;
}
.ableCard h6 {
    text-align: center;
    align-self: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 18.2px;
}

button.Access {
    border: 0px;
    border-radius: 30px;
    background-color: #1434A4;
    color: #ffffff;
    gap: 10px;
    width: 180px;
    height: 50px;
} 
.section4 {
    text-align: center;
    margin-bottom: 2.5cm;
}
.section4 h5 {
    font-weight: 600;
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 30.6px;
}
.section4 p {
    font-weight: 400;
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 28px;
}
.section4 h5 {
    font-weight: 600;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22.4px;
}
.section5 {
    background-color: #1434A4;
    text-align: center;
    padding-top: 1cm;
    padding-bottom: 1.5cm;
    margin-bottom: 2.0cm;
}
.section5 h5 {
    color: #ffffff;
    font-weight: 600;
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 30.6px;
}
.section5 p {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 28px;
}
.section6 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1cm;
    padding-bottom: 1.5cm;
    margin-bottom: 2cm;
}
.section6 h5 {
    font-family: 'Raleway';
    font-weight: 600;
  /*  font-size: 36px; 
    line-height: 39.6px; */
    color: rgba(0, 0, 0, 1);
}
.section6 p {
    font-family: 'OpenSans';
    font-weight: 300;
    color:rgba(0, 0, 0, 1);
}
 .btnSubscribe {
        border: 0px;
        border-radius: 30px;
        background-color: #1434A4;
        color: #ffffff;
        gap: 1px;
        width: 113px;
        height: 40px;
    } 
.inputEmail {
    border-radius: 60px;
    border: 0.1px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 3px rgba(0, 0, 1, 0.6);
}
footer.mainFooter {
    background: #1434A4;
} 
footer h5 {
    font-family: 'Cormorant Upright';
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-align: center;
}
.footerText, .footerLink {
    padding: 5%; 
}

footer p, .footer-ul {
    font-family: 'Proza Libre';
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5) !important;
    list-style: none;

}
.copyRight {
    font-family: 'Proza Libre';
    font-weight: 400;
    font-size: 20px;
    line-height: 25.2px;
}




/* Small devices (mobile phones, 576px upwards) */
@media (min-width: 576px) { 
    .readImage img, .bookImage img {
        width: 253px;
        height: 308px;
    }
    div.images {
        margin-bottom: 50px;
    }
 }

/* Medium devices (tablets, 768px upwards) */
@media (min-width: 768px) { 
    .slideShow {
        display: none !important;
    }
    .hero-body {
        padding-top: 3.5cm !important;
        padding-bottom: 7cm !important;
        padding-left: 6% !important;
        width: 60%;
    }
    .hero-card {
        display: block !important;
    }
    .display-container {
        position: absolute;
        top: 700px;
    }
    .section2 {
        margin-top: 200px;
        margin-bottom: 100px;
    }
    div.images {
        display: none !important;
    }
    .imageGrid {
        display: block ;
    }
    .readImage img, .bookImage img {
        width: 160px;
        height: 220px;
    }
    .section5images {
        position: relative;
    }
    div.section5SecondImg {
        position: relative;
        top: 30px;
    
    }
    .section6 h5 {
        font-size: 30px; 
        line-height: 39.6px; 
        }
 }


/* Large devices (desktops, 992px upwards) */
@media (min-width: 992px) {
    

  }

/*Extra small and Small devices. LESS THAN MEDIUM ONLY */
@media (max-width: 767px) { 
    .gridCard {
        display: none !important;
    }
    .hero-card {
        display: none;
        width: 261px;
        height: 310px;
    }
    .imageGrid {
        display: none !important;
    }

 }

/* Small devices ONLY */
@media (min-width: 768px) and (max-width: 991px) {  }

/* X-Large devices (large desktops, 1200px upwards) */
@media (min-width: 1200px) {  }